:host{
  height:100dvh;
  display:grid;
  place-content: center;
  gap:2rem;

  h1{
    color: var(--primary-color);
    font-family: var(--fira-font);
  }

  form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
