:host{
  height:100dvh;
  display:grid;
  place-content: center;
  gap:2rem;

  h1{
    color: var(--primary-color);
    font-family: var(--fira-font);
  }

  h2:nth-of-type(1){
    color: var(--green-color);
  }

  h2:nth-of-type(2){
    color: var(--green-color);
  }
  
  p{
    color: var(--white-color);
    font-weight: bold;

    a{
      color: var(--primary-color);
    }
  }
  
  form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    gap: 1.5rem;

    label{
      color: var(--primary-color);
    }

    input{
      border-bottom: 1px solid var(--primary-color);
      width: 100%;
      padding:0% 0% 0% 5%
    }


    .invalid_feedback{
      p{
        color: var(--red-color);
      }
    }


    button{
      font-weight: bold;
      color: var(--primary-color);
      background-color: #c6ae7e3b;
      padding: .5rem 2rem; 

      .loader {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;

        &::after,
        &::before {
          content: '';
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 2px solid #C6AE7E;
          position: absolute;
          left: 0;
          top: 0;
          animation: animloader 2s linear infinite;
        }

        &::after {
          border-color: #A89263;
          animation-delay: 1s;
        }
      }



    }

  }
  

  .btn_back{
    color: var(--white-color);
    padding: .6rem 2rem;
    overflow: hidden;
    position: relative;
    font-weight: bold;

    &::after{
      position: absolute;
      content:"";
      height: 100%;
      width: 100%;
      background-color: var(--primary-color);
      bottom: -100%;
      left: 0%;
      transition: .4s;
      z-index: -1;
    }


    &:hover::after{
      bottom: 0%;
    }
  }


  .help{
    p{
      color:#7d7b7f;
    }

    a{
      color: var(--white-color);
      text-decoration:line-through;
      font-family: var(--quicksand-font);
    }
  }
}

@media (max-width:720px) {
  :host{
    border:1px solid red;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
