<h1>Forgot password</h1>


@if(successMessage){
    <h2>{{successMessage}}</h2>

    <p>Didn't receive an email? check your spam folder or <a href="#" (click)="sendResetEmail()">Try again</a></p>
}

@if(errorMessage){
    <h2>{{errorMessage}}</h2>
}

@if(!successMessage){
    <p>Enter your email address and we'll send you a link to reset your password</p>

    <form [formGroup]="forgotPasswordForm" (submit)="sendResetEmail()">
        <label for="email">Email address</label>
        <input 
            type="email"
            id="email"
            formControlName="email"
            [class.is-invalid]="getFieldError('email')"
            placeholder="Enter your email address"
            [disabled]="isLoading"
            >

            @if(getFieldError('email')){
                <div class="invalid invalid_feedback">
                    <p>{{getFieldError('email')}}</p>
                </div>
            }


            <button 
                type="submit"
                [disabled]="forgotPasswordForm.invalid || isLoading"
                >
                @if(isLoading){
                <div class="spinner"></div>
                }@else{
                <p>Send Reset Email</p>
                }
            </button>

    </form>
}


<button (click)="goBackToLogin()">
    Back To Sign In
</button>


<div class="help">
    <p>Don't have an accoutn</p>
    <a routerLink="/register">Sign up Here</a>
</div>  
