<h2>New Client</h2>
<form action="">
    <div class="name field">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="plan field">
        <label for="plan">Plan:</label>
        <input type="text" id="plan" name="plan" required>
    </div>

    <div class="start_date field">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
    </div>

    <div class="end_date field">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
    </div>

    <div class="phone field">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required>
    </div>

    <button type="submit">Add Client</button>
</form>