:host {
    background-color: #332f3778;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 0px 5px rgba(123, 123, 123, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 300px;
    padding: 15px 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        width: 100%;
        gap: 10px;
        padding: 0% 5%;

        &::after,
        &::before {
            position: absolute;
            content: "";
            background: var(--red-color);
            height: 1px;
            width: 0%;
            left: 50%;
            transform: translateX(-50%);
            transition:.7s ease-in-out;
        }

        &::after {
            top: 0%;

        }

        &::before {
            bottom: 0%;
        }

        &.invalid {
            &::after,
            &::before {
                width: 50%;
            }
        }

        .erro_message {
            p {
                font-size: 14px;
                color: var(--red-color);
            }
        }

        .field {
            border-bottom: 1px solid var(--primary-color);
            padding: 3%;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            position: relative;


            label {
                font-size: 13px;
                color: #c6ae7ebb;
            }

            input {
                height: 100%;
                width: 100%;
                display: grid;
                place-content: center;
                padding-left: 10px;
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                opacity: 0;
                z-index: 1;
            }

            .calendar_icon {
                position: absolute;
                right: 16%;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }


            .error-message {
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translateY(-50%);
            }
        }


        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            button {
                background-color: var(--primary-color);
                color: var(--white-color);
                font-family: var(--fira-font);
                padding: .5rem 1rem;
                transition: .5s ;

                &:nth-child(2) {
                    background-color: var(--red-color);
                    color: var(--white-color);

                }
            }

        }
    }

}

@media (max-width:425px) {
    :host {
        width: 90%;
    }
}