<div class="client_information">
    <h2>{{name}}</h2>
    <p>{{plan}}</p>
</div>
<div class="dates">
    <p>{{startDate | date:'dd-MM-yyyy'}}</p>
    <span>-</span>
     <p>{{endDate | date:'dd-MM-yyyy'}}</p>
</div>

<button class="option" (click)="option()"><i class="ri-equalizer-2-line"></i></button>

<div class="card_options" *ngIf="showOptions">
    <button class="btn btn-primary" (click)="edit()"><i class="ri-edit-line"></i></button>
    <button class="btn btn-danger" (click)="delete()"><i class="ri-delete-bin-2-line"></i></button>
    <button class="btn btn-secondary" (click)="view()"><i class="ri-eye-2-line"></i></button>
</div>
