@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

:host{
    display: flex;
    border: 1px solid var(--primary-color);
    height: 80px; 
    width: 300px;  
    min-width: 250px;
    max-width: 100%;
    padding: 10px 2rem;
    gap: 2rem;
    position:relative;

    .client_information{
        height: 100%;
        @include flex(column);

        h2{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }
    .dates{
        @include flex(column);
        justify-content: center;
        align-items: center;
        p{
            font-size: 13px;

            &:nth-child(1){
                color: var(--green-color);
            }

            &:nth-child(3){
               color: var(--red-color);
            }
        }
    }

    .option{
        position:absolute;
        top:5%;
        left:50%;
        transform:translate(-50%,-50%);
        z-index: 1;

        color: var(--white-color);
        border-bottom: 1px solid #333136;
        border-left:1px solid #2c2930;
        background:#423e47;
        padding:2px 10px;
        border-radius:.2rem;
        transition: .2s ease-in-out;
        opacity:0;

        &:active{
            border-bottom: 0px solid #333136;
            border-left:0px solid #2c2930;
        }
    }
    &:hover .option{
        opacity:1;
        top:18%;
    }
}

@media (max-width:700px) {
    :host{
        padding:10px;
        width: 100%;

        .client_information{
            h2{
                font-size:15px;
            }
        }

    }
}

@media (max-width:550px) {
    :host{
       justify-content: space-between; 
       
    }
}