<div class="client_information">
    <h2>{{name}}</h2>
    <p>{{plan}}</p>
</div>
<div class="dates">
    <p>{{startDate | date:'dd-MM-yyyy'}}</p>
    <span>-</span>
     <p>{{endDate | date:'dd-MM-yyyy'}}</p>
</div>

<button class="option" (click)="option()">ಥ_ಥ</button>

<div class="card_options" *ngIf="showOptions">
    <button class="btn btn-primary" >Edit</button>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
    <button class="btn btn-secondary" (click)="view()" >View</button>
</div>