:host{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100px;
    position: relative;
    input{
        color: var(--primary-color);
        padding-left: 10px;
    }
    textarea{
        border: 1px solid #a8926643;
        width: 100%;
        height: 100%;
        font-size: 12px;
        padding: 2% 10%;
        cursor: pointer;
        overflow: hidden;
    }
    button{
        background-color: red;
        position:absolute ;
        bottom: 10%;

        i{
            color: var(--primary-color);
        }
    }
}