<input class="snippet_title" type="text" placeholder="snippet title" />
<textarea name="snippet_text" id="snippet_text" placeholder="Snippet..." (click)="snippetClick()"
        [(ngModel)]="snippetText"
        [ngClass]="{'expand': isExpanded}"
        ></textarea>


 <button (click)="expandTextArea()">
        @if (isExpanded) {
                <i class="ri-arrow-up-wide-fill"></i>
        }@else {
                <i class="ri-arrow-down-wide-line"></i>
        }
</button>              

<div class="notification" [ngClass]="{'show':showNotification}">
  <i class="ri-spam-line"></i><p>{{notificationText}}</p>
</div>

 
 