:host {
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;

    h2 {
        margin-top: 1rem;
        color: var(--primary-color);
        font-size: 18px;
        font-family: var(--fira-font);
        font-weight: 400;
    }


    button {
        font-size: 18px;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        width: 100%;
        padding:10px 0px;
    }

}