:host{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    padding: 5px 2.4rem;
    border-radius: 2rem;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #403d44;;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    h2{
        color: var(--white-color);
        font-size: 18px;
    }
    i{
        color: var(--primary-color);
        font-size: 1rem;
    }
}