:host {
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    h2 {
        margin-top: 1rem;
        color: var(--primary-color);
        font-size: 18px;
        font-family: var(--fira-font);
        font-weight: 400;
    }

    button {
        margin-top: 1rem;
        font-size: 14px;
        color: var(--White-color);
        background-color: #33313644;
        border-radius: .1rem;
        height: 2rem;
        width: 6rem;
        padding: 4%;
        display: flex;
        align-items: center;
        z-index: 1;
        i{
            background-color: var(--primary-color);
            transition: opacity .3s;
        }
        p{
            opacity: 0;
            transform: translateX(-50px);
            transition: opacaity .3s, transform .3s;
            pointer-events: none;
            position: absolute;

        }

        &:hover{
            background-color: #333136;
            p{
                opacity: 1;
                transform: translate(0px);
                pointer-events: auto;
            }

            i{
                opacity: 0;
            }
        }
    }

    .snippets{
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        overflow-y: auto;
        padding: 15% 0%;
    }
}

@media (max-width: 768px) {
    :host{
        width: 30%;
    }
    
}

@media (max-width: 550px) {
    :host{
        width: 90%;
    }
    
}