<h1> Create an account</h1>
<form [formGroup]="signupForm" (submit)="register()">

    <div class="input_field">
    <input 
        formControlName="name"
        type="text"
        name="name"
        [class.error-border]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" 
        placeholder="Full Name"/>

        @if (signupForm.get('name')?.invalid && signupForm.get('name')?.touched){

            <div class="error">
                <i class="ri-alert-line"></i>
                <p>{{getFieldError('name')}}</p>           
                <i class="ri-alert-line"></i>
            </div>
        }
    </div>


<div class="input_field">
    <input 
        formControlName="email"
        type="email"
        name="email" 
        [class.error-border]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" 
        placeholder="Email"/>

    @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched){

        <div class="error">
                <i class="ri-alert-line"></i>
                <p>{{getFieldError('email')}}</p>           
                <i class="ri-alert-line"></i>
        </div>
    }
</div>


<div class="input_field">

    <input 
        formControlName="password"
        type="password"
        name="password"
        [class.error-border]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" 
        placeholder="password"/>


    @if(signupForm.get('password')?.invalid && signupForm.get('password')?.touched){

        <div class="error">
                <i class="ri-alert-line"></i>
                <p>{{getFieldError('password')}}</p>           
                <i class="ri-alert-line"></i>
        </div>
    } 

</div>

<div class="input_field">

    <input  
    formControlName="confirmPassword"
    type="password"
    name="confirmPassword"
    [class.error-border]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" 
    placeholder="Confirm Password"/>

    @if(signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched){

        <div class="error">
                <i class="ri-alert-line"></i>
                <p>{{getFieldError('confirmPassword')}}</p>           
                <i class="ri-alert-line"></i>
        </div>
    }

</div>


<button type="submit"  [disabled]="signupForm.invalid">Create Account</button>
<button type="button" (click)="signupWithGoogle()"> <img ngSrc="google-icon.png" height="20" width="20" priority>Sign up with Google</button>

</form>

@if(errorMessage){
    <p id="erro">{{errorMessage}}</p>
}
@if(successMessage){
    <p id="success">{{successMessage}}</p>
}

<p>Already have an account? <a routerLink="/login"> Sign in</a></p>
