<h1>Sign UP </h1>
<form [formGroup]="signupForm" (submit)="register()">

    <div class="input_field">
    <input 
        formControlName="name"
        type="text"
        name="name"
        [class.error-border]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" 
        placeholder="Full Name"/>

        @if (signupForm.get('name')?.invalid && signupForm.get('name')?.touched){

            <div class="error">
                <p>{{getFieldError('name')}}</p>           
            </div>
        }
    </div>


<div class="input_field">
    <input 
        formControlName="email"
        type="email"
        name="email" 
        [class.error-border]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" 
        placeholder="Email"/>

    @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched){

        <div class="error">
            <p>{{getFieldError('email')}}</p>           
        </div>
    }
</div>


<div class="input_field">

    <input 
        formControlName="password"
        type="password"
        name="password"
        [class.error-border]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" 
        placeholder="password"/>


    @if(signupForm.get('password')?.invalid && signupForm.get('password')?.touched){

        <div class="error">
            <p>{{getFieldError('password')}}</p>
        </div>
    } 

</div>

<div class="input_field">

    <input  
    formControlName="confirmPassword"
    type="password"
    name="confirmPassword"
    [class.error-border]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" 
    placeholder="Confirm Password"/>

    @if(signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched){

        <div class="error">
            <p>{{getFieldError('confirmPassword')}}</p> 
        </div>
    }

</div>


<button type="submit"  [disabled]="signupForm.invalid">register</button>

</form>

@if(errorMessage){
    <p>{{errorMessage}}</p>
}
@if(successMessage){
    <p>{{successMessage}}</p>
}

<p>Already have an account? <a routerLink="/login">Sign in</a></p>
