@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    // colors
    --primary-color: #C6AE7E; 
    --white-color: #ffffff; 
    --background-color: #38353C; 
    --green-color: #6EF677; 
    --red-color: #EF4E4E; 

    //border color
    --option-bottom: #333136;
    --option-left: #2c2930;
    --option-btn-border: #a89266;
    --option-btn-bottom: #8e7b56;

    // fonts
    --jost-font:"Jost", sans-serif;
    --fira-font:"Fira Code", monospace;
    --quicksand-font:"Quicksand", sans-serif;
    --ibm-font:"IBM Plex Sans", sans-serif;

}


body{
    background-color: var(--background-color);
    color: var(--white-color);
}

h2{
    font-family: var(--jost-font);
    font-weight: 400;
    font-size: 1.4rem;

    color: var(--primary-color);
}

h3{
    font-family: var(--ibm-font);
    font-weight: 400;

}
textarea{
    outline:none;
    resize: none;
    color: var(--white-color);
    font-family: var(--fira-font);
    font-size: 15px;
    border:none;
    background:transparent;
}

p{
    font-family:var(--quicksand-font) ;
}

button{
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}