:host {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: 1rem;
    position: relative;


    &::after {
        position: absolute;
        content: ' ';
        background: var(--primary-color);
        height: 1px;
        width: 50%;
        top: 5%;
        left: 25%;
        ;
    }

    .cards {
        height: 100%;
        margin-top: 2.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 0 1rem;
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
            background-color: var(--bg-color);
        }

        &::-webkit-scrollbar-thumb {
            width: 4px;
            border-radius: 4px;
            background-color: var(--primary-color);
        }
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width:550px) {
    :host {
        height: 300px;
        width: 100%;

        &::after {
            top: 14%;
        }

        h2 {
            margin-left: 10px;
        }
    }
}