<button class="add_btn" (click)="addClient()">+</button>
<div class="cards" cdkDropList (cdkDropListDropped)="drop($event)">
  @for (client of clients; track client.name) {
  <app-card-client 
  [name]="client.name"
  [plan]="client.plan"
  [client]="client"
  [startDate]="client.startDate"
  [endDate]="client.endDate"
  (viewClientData)="handleViewClientData($event)"
  (editClient)="handleEditClient($event)"
  (deleteClient)="handleDeleteClient($event)" cdkDrag />
  }
</div>


<h3>{{clientActives}}</h3>

<div class="client_detail" *ngIf="viewedClients.length > 0">
  @for (client of viewedClients; track client.name; let i = $index) {
  <div class="client_viewed_bg" cdkDrag>
    <div class="client_viewed">
      
      <div class="dates">
        <p>{{client.startDate | date: 'longDate'}}</p>
        <p>{{client.endDate | date:'longDate'}}</p>
      </div>

      <h2>{{client.name}}</h2>
      <h3>{{client.plan}}</h3>

      <p>{{client.phoneNumber }}</p>

    </div>

    <button class="close_btn" (click)="closeClient(i)" title="add a client">X</button>

  </div>
  }
</div>