:host {
    display: block;
    height:500px;
    margin-top: 1rem;
    .cards {
        height: 100%;
        margin-top: 2.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 0 1rem;
        overflow: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 8px;
            background-color: var(--bg-color);
        }
         &::-webkit-scrollbar-thumb{
            width: 4px;
           border-radius: 4px;
            background-color: var(--primary-color);
        }
    }

    h2 {
        font-size: 2rem;
    }
}