<div class="cards" cdkDropList  (cdkDropListDropped)="drop($event)">
    @for (client of clients; track client.name) {
        <app-card-client 
            [name]="client.name"
            [plan]="client.plan"
            [client]="client"
            [startDate]="client.startDate"
            [endDate]="client.endDate"
            (viewClientData)="handleViewClientData($event)"
            cdkDrag
            />
    }
</div>


<div class="client_detail">
    <h2>{{selectedClient?.name}}</h2>
    <h3>{{selectedClient?.plan}}</h3>
    <p>{{selectedClient?.startDate | date: 'longDate'}}</p>
    <p>{{selectedClient?.endDate | date:'longDate'}}</p>
    <p>{{selectedClient?.phoneNumber }}</p>
</div>