:host{
    display:flex;
    flex-direction: column;
    gap:1rem;
    height: 100%;
    width: 50vw;
    margin-top: 2rem;
    .annotations{
        height: 80vh;
        

        textarea{
            height:100%;
            width:100%;

        }

    }

}