:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 90vh;
  width: 50vw;
  margin: 2rem 0 0 1rem;


  .annotations {
    height: 100%;


    textarea {
      height: 100%;
      width: 100%;

    }

  }

}
@media (max-width:768px) {
  :host{
    width: 100%;
  }
}

@media (max-width:550px) {
  :host {
    width: 100vw;
    height: 40vh;

    h2{
      margin-left:10px;
    }


    .annotations {
      textarea {
        padding-left:10px;
      }
    }

  }
}
